*, *::before, *::after{
    overflow: hidden;
}

body{
      background-image: url("https://images.pexels.com/photos/697662/pexels-photo-697662.jpeg?cs=srgb&dl=pexels-ylanite-koppens-697662.jpg&fm=jpg");
      background-position: center;
      background-size: cover;
      background-repeat: repeat;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }

    h1{
        font-size: 6em;
        text-align: center;
        font-family: sans-serif;
        font-weight: 900;
        position: relative;
        text-shadow: 2px 5px white;
        
      }
.container{
     display: flex;
     flex-direction: column;
     align-items: center;
     position: relative;
    } 
#display{
      font-size: 72px;
      text-align: center;
      margin: 0px auto;
      font-family: sans-serif;
      font-weight: 900;
    } 
#button{
      display: flex;
      justify-content: center;
      margin-top: 30px;
      flex-direction: row;
    }
    
button{
      border-radius: 5px;
      padding: 10px;
      font-size: 20px;
      width: 100px;
      box-shadow:5px 10px 5px;
      outline: none;
      text-align: center;
      transition: transform 0.5s ease-out;
      margin: 5px;
      cursor: pointer;
    }
button:hover{
      background-color: transparent;
      color: white;
      border: white;
      transform: translateY(15px);
}